@import "~fontsource-roboto/400-normal.css";

.App {
  text-align: center;
  background-color: #a9a9a9;
}

#main-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#main-grid {
  border-radius: 10px;
  border: 5px solid rgb(146, 117, 45);
  background-color: #333945;
}

h1 {
  font-family: "Roboto";
  color: goldenrod;
}

h2, h3 {
  font-family: "Roboto";
  color: white;
}

.numpad-container {
  width: 200px;
  height: 100%;
  margin-top: 30px;
  margin-bottom: 20px;
}

.numpad {
  width: 50px;
  height: 50px;
  margin: 5px;
  background-color: grey;
  border-radius: 10px;
  box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.75);
  border: none;
  outline: none !important;
}

.btn-cancel {
  width: 62px;
  height: 60px;
  margin: 5px;
  background-color: #dc1c22;
  border-radius: 10px;
  box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.75);
  border: none;
  outline: none !important;
}

.btn-clear {
  width: 62px;
  height: 60px;
  margin: 5px;
  background-color: #c2b800;
  border-radius: 10px;
  box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.75);
  border: none;
  outline: none !important;
}

.btn-enter {
  width: 62px;
  height: 60px;
  margin: 5px;
  background-color: #028e44;
  border-radius: 10px;
  box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.75);
  border: none;
  outline: none !important;
}

.MuiButton-containedPrimary, .MuiButton-contained{
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}

.MuiButton-contained {
  margin-left: 10px !important;
}

.MuiInputBase-input {
  color: black !important;
}

.screen {
  margin-right: 20px;
  margin-left: 20px;
  background-color: #92d9f9;
  min-height: 350px;
  width: 80%;
  border: solid black 4px;
  padding-top: 20px;
}